hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0)
	);
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: -1rem 10rem;

	.gallery-item {
		position: relative;
		flex: 1 0 17.2rem;
		margin: 1rem;
		color: #fff;
		cursor: pointer;
		width: 15rem;
		height: 15rem;

		&:hover {
			.gallery-item-info {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
			}
		}

		.gallery-item-info {
			display: none;
			.gallery-item-likes {
				display: inline-block;
				margin-right: 2rem;
				font-size: 1.2rem;
				font-weight: 600;
			}
		}

		.gallery-image {
			flex: 1 0 17.2rem;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
.profile-tab {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1.4rem 0;

	div {
		display: flex;
		cursor: pointer;
		margin-right: 3rem;
	}
	span {
		padding-left: 0.3rem;
	}
	svg {
		height: 24px;
		width: 24px;
	}
}

.loadSpinner {
	text-align: center;
	margin: auto;
}
@media screen and (max-width: 57.25rem) {
	.gallery {
		margin: 1px;
	}
}

@media screen and (max-width: 25rem) {
	.postImage {
		max-width: 100%;
	}
}
