.modalBackground {
	padding-top: 70px;
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		text-decoration: none;
	}
	.modalContainer {
		width: 1000px;
		height: 550px;

		grid-template-columns: 1fr 2fr;
		background: #fff;
		display: flex;
		flex-direction: column;
		color: #000;
		z-index: 10;
		border-radius: 0 8px 8px 0;

		button {
			position: absolute;
			top: 148px;
			right: 280px;
			width: 40px;
			height: 40px;
			background-color: transparent;
			border: none;
			font-size: 25px;
			cursor: pointer;
		}

		.infoandimg {
			height: 100%;

			.modalImage {
				box-shadow: none !important;
				width: 55% !important;
				height: 100% !important;
				object-fit: contain;
				background-color: #000;
				// object-fit: cover;
			}
			.description {
				margin: auto 0;
				padding: 20px;
				position: relative;
				top: 40px;
				display: inline-block;
				vertical-align: top;
				width: 40%;

				hr {
					position: relative;
					top: 280px;
					width: 100%;
					right: -30px;
				}
				.Modalicon-wrapper {
					padding-top: 10px;
					position: relative;
					top: 280px;
					right: -20px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.Modaliconitems {
						height: 25px;
						position: relative;

						.icon {
							width: 22px !important;
							height: 22px;
							cursor: pointer;
							margin: 0 10px;
							display: inline-block !important;
						}
						.lefticon {
							height: 26px;
							margin-left: 190px;
						}
						.iconx {
							position: relative;
							top: -5px;
							color: black;
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
