.Intro {
	background-color: #fafafa;
	height: 340px;
	padding: 40px;
	text-align: center;

	.roundedImage {
		display: inline-block;
		justify-content: space-between;
		padding: 0 10px;
		margin: 0 20px;
		position: relative;
		right: 200px;
		top: -30px;
		cursor: pointer;
	}
	.textDisplay {
		position: relative;
		right: 100px;
		display: inline-block;
		justify-content: center;
		// height: 100;
		width: max-content;
		text-align: start;

		.heading {
			display: inline-block;
			justify-content: space-between;
			margin-right: 10px;
		}
		button {
			margin-left: 20px;
		}
		.postfollowersNums {
			display: flex;
			justify-content: space-between;
		}

		.btn {
			display: inline-block;
			font: inherit;
			background: none;
			border: none;
			color: inherit;
			padding: 0;
			cursor: pointer;

			&.profile-edit-btn {
				font-size: 1rem;
				// line-height: 1.8;
				border: 0.1rem solid #dbdbdb;
				border-radius: 0.3rem;
				padding: 0 2.4px;
				margin-left: 2px;
			}
		}
	}
}
